.header {
  display: inline;
}

.page-template-front-page .projects .projectsSwiper {
  height: 600px;
}
.page-template-front-page .projects .projectsSwiper .swiper-slide .web-content {
  position: relative;
}
.page-template-front-page .projects .projectsSwiper .swiper-slide .web-content__infos {
  position: relative;
  z-index: 10;
}
.page-template-front-page .projects .projectsSwiper .swiper-slide .web-content__img {
  position: absolute;
  inset: 0;
}

body {
  color: var(--wp--preset--color--primary);
  font-family: var(--wp--preset--font-family--base);
}
body main section.presentation {
  color: var(--wp--preset--color--main-typo);
  background-color: var(--wp--preset--color--main-bg);
  font-size: var(--wp--preset--font-size--x-large);
  line-height: 1.3;
}
body main section.skills {
  color: var(--wp--preset--color--second-typo);
  background-color: var(--wp--preset--color--second-bg);
  font-size: var(--wp--preset--font-size--x-large);
  line-height: 1.3;
}
body main .container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
body main .projects {
  color: var(--wp--preset--color--white);
  font-family: var(--wp--preset--font-family--gravur);
  font-size: var(--wp--preset--font-size--xx-large);
}

body {
  margin: 0;
  padding: 0;
}