
body{
	color: var(--wp--preset--color--primary);
	font-family: var(--wp--preset--font-family--base);
	main {
		section{
			&.presentation {
				color: var(--wp--preset--color--main-typo);
				background-color: var(--wp--preset--color--main-bg);
				font-size: var(--wp--preset--font-size--x-large);
				line-height: 1.3;
			}
		
			&.skills {
				color: var(--wp--preset--color--second-typo);
				background-color: var(--wp--preset--color--second-bg);
				font-size: var(--wp--preset--font-size--x-large);
				line-height: 1.3;
			}
		}
		.container {
			width: 100%;
			max-width: 1200px;
			margin: 0 auto;
			padding: 0 20px;
		}

		.projects{
			color: var(--wp--preset--color--white);
			font-family: var(--wp--preset--font-family--gravur);
			font-size: var(--wp--preset--font-size--xx-large);
		}
	}
}
