
body{
	color: var(--wp--preset--color--primary);
	font-family: var(--wp--preset--font-family--base);

	 h1, h2, h3, h4, h5, h6 {
		//margin-top: 0;
	}

	h2{
		font-family: var(--wp--preset--font-family--base);
		font-size: var(--wp--preset--font-size--xx-large);
		text-align: center;
		margin-bottom: 2rem;
	}

	.btn {
		position: relative;
		display: inline-block;
		padding: 12px 28px;
		border-radius: 8px;
		font-weight: 600;
		text-decoration: none;
		overflow: hidden;
		transition: all 0.3s ease;
		z-index: 1;

		&.btn-light {
			background-color: #878787; 
			color: #fff;

			&:hover {
				color: #fff;
				box-shadow: 0 0 20px rgba(135, 135, 135, 0.5); 
				transform: translateY(-2px); 
			}
		}

		&.btn-dark {
			background-color: #8C7154;
			color: #fff;

			&:hover {
				box-shadow: 0 0 20px rgba(140, 113, 84, 0.5);
				transform: translateY(-2px);
			}
		}

		&.btn-pale {
			background-color: #d6e1f2; 
			color: #8C7154;

			&:hover {
				box-shadow: 0 0 20px rgba(140, 113, 84, 0.5);
				transform: translateY(-2px);
			}
		}
	}

	main {
		.container {
			width: 100%;
			max-width: 1200px;
			margin: 0 auto;
			padding: 1rem 0;

		}

		.projects{
			color: var(--wp--preset--color--white);
			font-family: var(--wp--preset--font-family--gravur);
			font-size: var(--wp--preset--font-size--xx-large);
		}
	}
}
