
body{
	color: var(--wp--preset--color--main-typo);
	font-family: var(--wp--preset--font-family--base);

	 h1, h2, h3, h4, h5, h6 {
		//margin-top: 0;
	}

	h2{
		position: relative;
		display: inline-block;
		font-family: var(--wp--preset--font-family--base);
		font-size: var(--wp--preset--font-size--xx-large);
		text-align: center;
		margin-bottom: 2.5rem;
		width: 100%;

		&::after {
			content: "";
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			bottom: -16px; // plus bas sous le titre
			width: 120px; // plus large
			height: 6px; // un poil plus épais
			background-color: #F4EFFF;
			border-radius: 15px;
		}

		&.dark {
			color: var(--wp--preset--color--main-color);
		}

		&.dark::after {
			background-color: var(--wp--preset--color--main-color);
		}
	}

	.btn {
		position: relative;
		display: inline-block;
		padding: 12px 28px;
		border-radius: 30px;
		font-weight: 600;
		text-decoration: none;
		overflow: hidden;
		transition: all 0.3s ease;
		z-index: 1;

		&.btn-light {
			background-color: var(--wp--preset--color--third-color);
			color: var(--wp--preset--color--main-typo);

			&:hover {
				color: var(--wp--preset--color--main-typo);
				box-shadow: 0 0 20px rgba(135, 135, 135, 0.75); 
				transform: translateY(-2px); 
			}
		}

		&.btn-dark {
			background-color: #8C7154;
			color: #fff;

			&:hover {
				box-shadow: 0 0 20px rgba(140, 113, 84, 0.5);
				transform: translateY(-2px);
			}
		}

		&.btn-pale {
			background-color: #d6e1f2; 
			color: #8C7154;

			&:hover {
				box-shadow: 0 0 20px rgba(140, 113, 84, 0.5);
				transform: translateY(-2px);
			}
		}
	}

	main {
		.container {
			width: 100%;
			max-width: 1200px;
			margin: 0 auto;
			padding: 1rem 0;
			@media (max-width: 768px) {
				padding: 1rem;
				width: auto;
			}

		}

		.projects{
			color: var(--wp--preset--color--white);
			font-family: var(--wp--preset--font-family--gravur);
			font-size: var(--wp--preset--font-size--xx-large);
		}
	}
}
