header{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: white;
		background-color: var(--wp--preset--color--dark-gray);
	ul{
		display: flex;
		flex-direction: row;
		gap: 3rem;
	}
}
