header {
	background-color: var(--wp--preset--color--second-color);
	color: var(--wp--preset--color--main-typo);
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 1rem 0;


	.header__container {
		width: 100%;
		max-width: 1200px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 1rem;
	}


	.header__logo {
		display: flex;
		align-items: center;


		img {
			width: 70px;
			height: 70px;
			object-fit: cover;
			border-radius: 50%;
			border: 3px solid #fff;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
			background: #fff;
		}
	}


	.header__nav {
		nav {
			ul {
				display: flex;
				gap: 2rem;
				list-style: none;


				li {
					position: relative;


					a {
						text-decoration: none;
						color: var(--wp--preset--color--main-typo);
						font-weight: 600;
						transition: opacity 0.3s;


						&:hover {
							opacity: 0.7;
						}
					}


					ul {
						display: none;
						position: absolute;
						top: 2rem;
						left: 0;
						background: var(--wp--preset--color--second-color);
						padding: 0.5rem 1rem;
						border-radius: 6px;
						box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);


						li {
							padding: 0.5rem 0;
						}
					}


					&:hover ul {
						display: block;
					}
				}
			}
		}
	}
}
